<div class="row">
    <div class="input-group">
        <input type="text" class="form-control" id="search" ng-model="search.title">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    </div>
</div>
<div class="row">
    <hr>
    <a ng-show="$root.loggedUser.manager" href="{{location + '/new'}}" class="btn btn-info">Добавить проект</a>
    <hr>
    <table class="table table-hover">
        <tr><th>Название</th><th>Управление</th></tr>
        <tr ng-repeat="project in projects | filter:search">
            <td>
                <a href="{{location + '/' + project.id}}">{{project.title}}</a>
            </td>
            <td>
                <p>Выполнено задач {{project.tasksFinishedCount}} из {{project.tasksCount}}</p>
            </td>
        </tr>
    </table>
</div>