<div class="input-group">
    <input type="text" class="form-control" id="search" ng-model="query">
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
</div>
<hr>
<div class="row" ng-repeat="group in groups">
    <div class="text-center">{{group.name}}</div>
    <div class="col-md-3 col-sm-4 col-xs-6 text-center" ng-repeat="user in group.users | filter:search">
        <img src="{{user.photoUrl}}">
        <p>{{user.firstName}} {{user.secondName}}</p>
    </div>
</div>
