<ul class="nav nav-tabs">
    <li role="presentation"><a href="#/projects/{{projectId}}/">Основная информация</a></li>
    <li role="presentation" class="active"><a href="{{tasksUrl}}">Задачи</a></li>
    <li role="presentation"><a href="#/projects/{{projectId}}/users">Участники</a></li>
    <li role="presentation"><a href="#">Настройки</a></li>
</ul>
<div class="input-group">
    <input type="text" class="form-control" id="search" ng-model="search.title">
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
</div>
<hr>
<a href="{{location + '/new'}}" class="btn btn-info">Добавить задачу</a>
<hr>
<ul ng-repeat="task in tasks | filter:search track by task.id">
    <ul>
        <li>
            <a href="{{location + '/' + task.id}}">{{task.title}}</a>
            <button class="btn btn-info" ng-click="saveProject($index);">Комментариев 0</button>
            <button class="btn btn-info" ng-click="showSubtasks(task.id);">Подзадач {{task.children.length}}</button>
            <div ng-show="childrenHide[task.id]">
                <ul  ng-repeat="task in task.subtasks | filter:search.title track by task.id">
                    <div ng-include="'project/_task_item.html'"></div>
                </ul>
            </div>
        </li>
    </ul>
</ul>